n8n_flows/export/healthgenie_all_workflows.bundle.json
[
  {
    "name": "HealthGenie \u2014 Onboarding (Full Pipeline)",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "healthgenie/onboarding",
          "responseMode": "responseNode",
          "options": {}
        },
        "id": "2036702e-d4a6-4a9e-bdd6-a1c0609c9389",
        "name": "Webhook Onboarding",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          0,
          0
        ],
        "webhookId": "72f14eae-cfff-439b-9b4a-c33669f52aa0"
      },
      {
        "parameters": {
          "mode": "runOnceForAllItems",
          "jsCode": "const root = $json.body ?? $json;\nconst body = (typeof root === 'object' && root !== null) ? root : {};\nconst required = ['age','height_cm','weight_kg','activity_level','goal','diet_pref'];\nconst missing = required.filter(k => body[k] === undefined || body[k] === null || String(body[k]).trim() === '');\nreturn [{ json: { profile: body, missing_fields: missing } }];"
        },
        "id": "16208bb2-7e1f-46e7-8843-6d5c12ceeaec",
        "name": "Normalize Profile",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          240,
          0
        ]
      },
      {
        "parameters": {
          "mode": "runOnceForAllItems",
          "jsCode": "const p = $json.profile || {};\nconst issues = [];\nif (($json.missing_fields || []).length) {\n  issues.push('Missing required fields: ' + $json.missing_fields.join(', '));\n}\nif (!p.height_cm) issues.push('Height missing');\nif (!p.weight_kg) issues.push('Weight missing');\nif (p.weight_kg && (Number(p.weight_kg) < 25 || Number(p.weight_kg) > 300)) issues.push('Weight unrealistic, confirm value');\nif (p.height_cm && (Number(p.height_cm) < 100 || Number(p.height_cm) > 240)) issues.push('Height unrealistic, confirm value');\nif (p.medical_constraints && String(p.medical_constraints).toLowerCase() !== 'none') {\n  issues.push('Medical constraints noted: include safety disclaimer in coaching copy');\n}\nreturn [{ json: { ...$json, validation_issues: issues, is_valid: issues.length === 0 } }];"
        },
        "id": "cf2fb162-94d6-49ca-bd0c-845539bffaa9",
        "name": "Validate Profile",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          480,
          0
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "version": 2,
              "leftValue": "",
              "caseSensitive": true,
              "typeValidation": "loose"
            },
            "conditions": [
              {
                "id": "4ee7ca99-38ad-41be-855e-83cf6f583612",
                "leftValue": "={{ $json.is_valid }}",
                "rightValue": "",
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          }
        },
        "id": "54ede5b1-927d-44df-b234-d1c70ffd98bc",
        "name": "IF Profile Valid",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          720,
          0
        ]
      },
      {
        "parameters": {
          "mode": "runOnceForAllItems",
          "jsCode": "return [{ json: {\n  ok: false,\n  http_status: 422,\n  stage: 'validation',\n  validation_issues: $json.validation_issues || [],\n  missing_fields: $json.missing_fields || [],\n  message: 'Please fix validation issues before generating a plan.'\n} }];"
        },
        "id": "8c7c56d2-e0ba-43ab-90b8-3c49a045faea",
        "name": "Build Validation Response",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          960,
          220
        ]
      },
      {
        "parameters": {
          "mode": "runOnceForAllItems",
          "jsCode": "const p = $json.profile || {};\nconst h = (Number(p.height_cm) || 0) / 100;\nconst w = Number(p.weight_kg) || 0;\nconst bmi = (h > 0) ? +(w / (h*h)).toFixed(1) : null;\nconst risks = [];\nif (bmi && bmi >= 30) risks.push('weight_management_risk:high');\nelse if (bmi && bmi >= 25) risks.push('weight_management_risk:moderate');\nif (String(p.family_history || '').toLowerCase().includes('diabetes')) risks.push('diabetes_lifestyle_risk:elevated');\nif (String(p.activity_level || '').toLowerCase() === 'low') risks.push('low_activity_risk:elevated');\nif (Number(p.age) >= 45) risks.push('cardiometabolic_prevention_focus:recommended');\nreturn [{ json: { ...$json, bmi, wellness_risks: risks } }];"
        },
        "id": "9d8e219b-f815-41fb-8248-dcbd5c64d8ca",
        "name": "Compute Wellness Indicators",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          960,
          -80
        ]
      },
      {
        "parameters": {
          "mode": "runOnceForAllItems",
          "jsCode": "const p = $json.profile || {};\nconst notes = [];\nconst eth = String(p.ethnicity || '').toLowerCase();\nconst fh = String(p.family_history || '').toLowerCase();\nif (fh.includes('diabetes')) {\n  notes.push('Prioritize low-glycemic meal pairings and a short walk after larger meals.');\n}\nif (eth.includes('south') && eth.includes('asian')) {\n  notes.push('Emphasize legumes, vegetables, and whole grains; moderate refined flour where possible.');\n}\nif (fh.includes('heart') || fh.includes('hypertension')) {\n  notes.push('Favor DASH-style patterns: vegetables, potassium-rich foods, limited sodium.');\n}\nreturn [{ json: { ...$json, personalization_notes: notes } }];"
        },
        "id": "1cff51b7-26ce-48b5-bef0-d50ff3d2b379",
        "name": "Ethnicity Family Context",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1200,
          -80
        ]
      },
      {
        "parameters": {
          "mode": "runOnceForAllItems",
          "jsCode": "const p = $json.profile || {};\nconst goal = p.goal || 'maintain';\nconst baseCalories = goal === 'weight_loss' ? 1800 : (goal === 'muscle_gain' ? 2400 : 2100);\nconst proteinG = Math.round((Number(p.weight_kg) || 70) * (goal === 'muscle_gain' ? 1.8 : 1.2));\nconst vegetarian = String(p.diet_pref || '').toLowerCase().includes('vegetarian');\nconst plan = {\n  calories_target: baseCalories,\n  protein_target_g: proteinG,\n  meals: [\n    vegetarian ? 'Greek yogurt + berries + nuts' : 'Eggs + whole grain toast + fruit',\n    vegetarian ? 'Lentil bowl + vegetables + brown rice' : 'Grilled chicken + quinoa + vegetables',\n    vegetarian ? 'Tofu/paneer + mixed vegetables + salad' : 'Fish + vegetables + olive oil salad'\n  ]\n};\nreturn [{ json: { ...$json, diet_plan: plan } }];"
        },
        "id": "466dff4b-48b7-43ee-9f0c-c0939788f1ee",
        "name": "Generate Diet Plan",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1440,
          -80
        ]
      },
      {
        "parameters": {
          "mode": "runOnceForAllItems",
          "jsCode": "const p = $json.profile || {};\nconst low = String(p.activity_level || '').toLowerCase() === 'low';\nconst jointPain = String(p.medical_constraints || '').toLowerCase().includes('joint');\nlet cardio = low ? '20-30 min brisk walk, 5x/week' : '30-40 min mixed cardio, 4-5x/week';\nif (jointPain) cardio = 'Low-impact cardio (walk/cycle/swim), 5x/week';\nconst plan = {\n  weekly_plan: [cardio, 'Strength training 2-3x/week', 'Mobility and stretching 10 min daily'],\n  avoid: jointPain ? ['High-impact running', 'Deep loaded knee flexion'] : []\n};\nreturn [{ json: { ...$json, exercise_plan: plan } }];"
        },
        "id": "bc1626c0-9180-4d41-b694-fb058029fb36",
        "name": "Generate Exercise Plan",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1680,
          -80
        ]
      },
      {
        "parameters": {
          "mode": "runOnceForAllItems",
          "jsCode": "const text = JSON.stringify($json).toLowerCase();\nconst redFlags = ['chest pain','fainting','severe shortness of breath','very high blood sugar','very high blood pressure','sudden weakness','severe allergic reaction'];\nconst hits = redFlags.filter(r => text.includes(r));\nif (hits.length) {\n  return [{ json: { safe_to_continue: false, red_flags: hits, escalation: 'Possible urgent symptoms detected. Seek immediate medical care or call emergency services.', stage: 'safety_escalation' } }];\n}\nreturn [{ json: { ...$json, safe_to_continue: true, red_flags: [] } }];"
        },
        "id": "511ae80b-d891-42a1-aa4b-0dcc9cd8560d",
        "name": "Run Safety Filter",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1920,
          -80
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "version": 2,
              "leftValue": "",
              "caseSensitive": true,
              "typeValidation": "loose"
            },
            "conditions": [
              {
                "id": "8d7413d2-948d-46b0-9064-b387f9eabd29",
                "leftValue": "={{ $json.safe_to_continue }}",
                "rightValue": "",
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          }
        },
        "id": "fc89e79e-8067-4d17-9c9a-ffcf382990f5",
        "name": "IF Safe To Continue",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          2160,
          -80
        ]
      },
      {
        "parameters": {
          "mode": "runOnceForAllItems",
          "jsCode": "const j = $json;\nreturn [{ json: {\n  ok: true,\n  http_status: 200,\n  stage: 'plan_ready',\n  profile_summary: { bmi: j.bmi, wellness_risks: j.wellness_risks },\n  personalization_notes: j.personalization_notes || [],\n  diet_plan: j.diet_plan,\n  exercise_plan: j.exercise_plan,\n  safety: { passed: true, red_flags: j.red_flags || [] },\n  disclaimer: 'Preventive wellness guidance only \u2014 not medical diagnosis or treatment.'\n} }];"
        },
        "id": "55b9f112-4d51-4ce9-aa03-b543794c6d34",
        "name": "Build Success Response",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2400,
          -180
        ]
      },
      {
        "parameters": {
          "mode": "runOnceForAllItems",
          "jsCode": "return [{ json: {\n  ok: false,\n  http_status: 200,\n  stage: 'safety_escalation',\n  escalation: $json.escalation,\n  red_flags: $json.red_flags,\n  diet_plan: null,\n  exercise_plan: null,\n  disclaimer: 'Safety stop: seek licensed urgent or emergency care if appropriate.'\n} }];"
        },
        "id": "eb9de0d8-cf47-4ea4-9731-32a055cf81b8",
        "name": "Build Escalation Response",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2400,
          40
        ]
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ $json }}",
          "options": {
            "responseCode": 200
          }
        },
        "id": "68bd957c-91bc-4dd9-a764-6c95b14c7c7f",
        "name": "Respond To Client",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.4,
        "position": [
          1600,
          200
        ]
      },
      {
        "parameters": {
          "content": "## Optional LLM layer\nAdd **OpenAI** / **Anthropic** nodes after Ethnicity Context to rewrite meal copy using `prompts/diet_agent_prompt.md`.\nCreate credentials in n8n: **OpenAI API** or **Header Auth** for HTTP Request."
        },
        "id": "904f35c0-6dac-41c7-ab22-d4c6f0bf0f9f",
        "name": "Sticky LLM Placeholder",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          400,
          -200
        ]
      }
    ],
    "connections": {
      "Webhook Onboarding": {
        "main": [
          [
            {
              "node": "Normalize Profile",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Normalize Profile": {
        "main": [
          [
            {
              "node": "Validate Profile",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Validate Profile": {
        "main": [
          [
            {
              "node": "IF Profile Valid",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IF Profile Valid": {
        "main": [
          [
            {
              "node": "Compute Wellness Indicators",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Build Validation Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build Validation Response": {
        "main": [
          [
            {
              "node": "Respond To Client",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Compute Wellness Indicators": {
        "main": [
          [
            {
              "node": "Ethnicity Family Context",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Ethnicity Family Context": {
        "main": [
          [
            {
              "node": "Generate Diet Plan",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Generate Diet Plan": {
        "main": [
          [
            {
              "node": "Generate Exercise Plan",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Generate Exercise Plan": {
        "main": [
          [
            {
              "node": "Run Safety Filter",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Run Safety Filter": {
        "main": [
          [
            {
              "node": "IF Safe To Continue",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IF Safe To Continue": {
        "main": [
          [
            {
              "node": "Build Success Response",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Build Escalation Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build Success Response": {
        "main": [
          [
            {
              "node": "Respond To Client",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build Escalation Response": {
        "main": [
          [
            {
              "node": "Respond To Client",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "pinData": {},
    "settings": {
      "executionOrder": "v1"
    },
    "staticData": null,
    "meta": {
      "templateCredsSetupCompleted": false
    },
    "tags": []
  },
  {
    "name": "HealthGenie \u2014 Daily Plan Generation",
    "nodes": [
      {
        "parameters": {},
        "id": "c86e3096-fc16-47ed-83e0-310d403ffab2",
        "name": "Manual Test Trigger",
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1,
        "position": [
          0,
          200
        ]
      },
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "cronExpression",
                "expression": "0 7 * * *"
              }
            ]
          }
        },
        "id": "bc56ff0d-3cd8-4d2a-96d3-4d79429811f0",
        "name": "Schedule Morning 7am",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          0,
          400
        ]
      },
      {
        "parameters": {
          "mode": "runOnceForAllItems",
          "jsCode": "return [{ json: {\n  profile: {\n    user_id: 'MOCK_SCHEDULED',\n    age: 45,\n    gender: 'male',\n    height_cm: 173,\n    weight_kg: 86,\n    activity_level: 'low',\n    goal: 'weight_loss',\n    diet_pref: 'vegetarian',\n    allergies: 'none',\n    ethnicity: 'south_asian',\n    family_history: 'diabetes',\n    medical_constraints: 'none'\n  }\n} }];"
        },
        "id": "50f83d98-ce48-4293-94e0-36f19464d145",
        "name": "Set Mock Active User",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          280,
          300
        ]
      },
      {
        "parameters": {
          "mode": "runOnceForAllItems",
          "jsCode": "const p = $json.profile || {};\nconst h = (Number(p.height_cm) || 0) / 100;\nconst w = Number(p.weight_kg) || 0;\nconst bmi = (h > 0) ? +(w / (h*h)).toFixed(1) : null;\nconst risks = [];\nif (bmi && bmi >= 30) risks.push('weight_management_risk:high');\nelse if (bmi && bmi >= 25) risks.push('weight_management_risk:moderate');\nif (String(p.family_history || '').toLowerCase().includes('diabetes')) risks.push('diabetes_lifestyle_risk:elevated');\nif (String(p.activity_level || '').toLowerCase() === 'low') risks.push('low_activity_risk:elevated');\nif (Number(p.age) >= 45) risks.push('cardiometabolic_prevention_focus:recommended');\nreturn [{ json: { ...$json, bmi, wellness_risks: risks } }];"
        },
        "id": "4249085b-7314-4234-9b7c-818f15e409e1",
        "name": "Compute Wellness Indicators",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          520,
          300
        ]
      },
      {
        "parameters": {
          "mode": "runOnceForAllItems",
          "jsCode": "const p = $json.profile || {};\nconst goal = p.goal || 'maintain';\nconst baseCalories = goal === 'weight_loss' ? 1800 : (goal === 'muscle_gain' ? 2400 : 2100);\nconst proteinG = Math.round((Number(p.weight_kg) || 70) * (goal === 'muscle_gain' ? 1.8 : 1.2));\nconst vegetarian = String(p.diet_pref || '').toLowerCase().includes('vegetarian');\nconst plan = {\n  calories_target: baseCalories,\n  protein_target_g: proteinG,\n  meals: [\n    vegetarian ? 'Greek yogurt + berries + nuts' : 'Eggs + whole grain toast + fruit',\n    vegetarian ? 'Lentil bowl + vegetables + brown rice' : 'Grilled chicken + quinoa + vegetables',\n    vegetarian ? 'Tofu/paneer + mixed vegetables + salad' : 'Fish + vegetables + olive oil salad'\n  ]\n};\nreturn [{ json: { ...$json, diet_plan: plan } }];"
        },
        "id": "4e936157-6bbd-4278-ba2e-478fb6e095dc",
        "name": "Generate Diet Plan",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          760,
          300
        ]
      },
      {
        "parameters": {
          "mode": "runOnceForAllItems",
          "jsCode": "const p = $json.profile || {};\nconst low = String(p.activity_level || '').toLowerCase() === 'low';\nconst jointPain = String(p.medical_constraints || '').toLowerCase().includes('joint');\nlet cardio = low ? '20-30 min brisk walk, 5x/week' : '30-40 min mixed cardio, 4-5x/week';\nif (jointPain) cardio = 'Low-impact cardio (walk/cycle/swim), 5x/week';\nconst plan = {\n  weekly_plan: [cardio, 'Strength training 2-3x/week', 'Mobility and stretching 10 min daily'],\n  avoid: jointPain ? ['High-impact running', 'Deep loaded knee flexion'] : []\n};\nreturn [{ json: { ...$json, exercise_plan: plan } }];"
        },
        "id": "94853b2b-bfeb-41d7-9b9b-b52cac204952",
        "name": "Generate Exercise Plan",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1000,
          300
        ]
      },
      {
        "parameters": {
          "mode": "runOnceForAllItems",
          "jsCode": "const text = JSON.stringify($json).toLowerCase();\nconst redFlags = ['chest pain','fainting','severe shortness of breath','very high blood sugar','very high blood pressure','sudden weakness','severe allergic reaction'];\nconst hits = redFlags.filter(r => text.includes(r));\nif (hits.length) {\n  return [{ json: { safe_to_continue: false, red_flags: hits, escalation: 'Possible urgent symptoms detected. Seek immediate medical care or call emergency services.', stage: 'safety_escalation' } }];\n}\nreturn [{ json: { ...$json, safe_to_continue: true, red_flags: [] } }];"
        },
        "id": "4737dc72-bcaf-4780-bb4f-721bdd0519a2",
        "name": "Run Safety Filter",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1240,
          300
        ]
      },
      {
        "parameters": {
          "mode": "runOnceForAllItems",
          "jsCode": "const j = $json;\nreturn [{ json: {\n  ok: j.safe_to_continue !== false,\n  stage: j.safe_to_continue === false ? 'safety_escalation' : 'daily_plan_ready',\n  generated_at: new Date().toISOString(),\n  profile_summary: { bmi: j.bmi, wellness_risks: j.wellness_risks },\n  diet_plan: j.diet_plan,\n  exercise_plan: j.exercise_plan,\n  escalation: j.escalation || null,\n  red_flags: j.red_flags || [],\n  note: 'Replace Set Mock Active User with Supabase/Postgres fetch for real users.'\n} }];"
        },
        "id": "26b093bb-f46a-4ada-882a-5f0710c3964e",
        "name": "Build Daily Plan Output",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1480,
          300
        ]
      },
      {
        "parameters": {
          "content": "## Wire your datastore\nReplace **Set Mock Active User** with **Postgres** / **Supabase** node.\nAdd **FCM** / **Twilio** after Build Daily Plan Output for push."
        },
        "id": "8f473b1a-6cf2-4faa-84d0-e321485b5cca",
        "name": "Sticky Data And Notify",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          240,
          80
        ]
      }
    ],
    "connections": {
      "Manual Test Trigger": {
        "main": [
          [
            {
              "node": "Set Mock Active User",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Schedule Morning 7am": {
        "main": [
          [
            {
              "node": "Set Mock Active User",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set Mock Active User": {
        "main": [
          [
            {
              "node": "Compute Wellness Indicators",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Compute Wellness Indicators": {
        "main": [
          [
            {
              "node": "Generate Diet Plan",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Generate Diet Plan": {
        "main": [
          [
            {
              "node": "Generate Exercise Plan",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Generate Exercise Plan": {
        "main": [
          [
            {
              "node": "Run Safety Filter",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Run Safety Filter": {
        "main": [
          [
            {
              "node": "Build Daily Plan Output",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "pinData": {},
    "settings": {
      "executionOrder": "v1"
    },
    "staticData": null,
    "meta": {
      "templateCredsSetupCompleted": false
    },
    "tags": []
  },
  {
    "name": "HealthGenie \u2014 Daily Checkpoint Loop",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "healthgenie/checkpoint",
          "responseMode": "responseNode",
          "options": {}
        },
        "id": "61d693e0-d08a-43d4-bae6-dee210fa9d08",
        "name": "Webhook Checkpoint",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          0,
          0
        ],
        "webhookId": "90698621-1d62-4f23-bb26-41d285222694"
      },
      {
        "parameters": {
          "mode": "runOnceForAllItems",
          "jsCode": "const root = $json.body ?? $json;\nconst body = (typeof root === 'object' && root !== null) ? root : {};\nconst required = ['activity_done','steps','energy','sleep_quality','pain_reported','meal_adherence'];\nconst missing = required.filter(k => body[k] === undefined || body[k] === null || String(body[k]).trim() === '');\nreturn [{ json: { checkpoint: body, missing_fields: missing } }];"
        },
        "id": "582c9bfe-fd6b-4db2-9e09-278f0775e8c8",
        "name": "Parse Checkpoint",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          240,
          0
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "version": 2,
              "leftValue": "",
              "caseSensitive": true,
              "typeValidation": "loose"
            },
            "conditions": [
              {
                "id": "0e4a6544-057e-4292-b213-ca67bd74bd2d",
                "leftValue": "={{ ($json.missing_fields || []).length === 0 }}",
                "rightValue": "",
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          }
        },
        "id": "2c8fbea2-0058-482c-881a-4fc6ce7eedd5",
        "name": "IF Checkpoint Complete",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          480,
          0
        ]
      },
      {
        "parameters": {
          "mode": "runOnceForAllItems",
          "jsCode": "return [{ json: {\n  ok: false,\n  http_status: 422,\n  stage: 'checkpoint_incomplete',\n  missing_fields: $json.missing_fields,\n  message: 'Please answer all checkpoint fields.'\n} }];"
        },
        "id": "3bd27d1d-a59d-4cc6-800a-51bf516db36f",
        "name": "Build Missing Checkpoint Response",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          720,
          200
        ]
      },
      {
        "parameters": {
          "mode": "runOnceForAllItems",
          "jsCode": "const c = $json.checkpoint || {};\nconst updates = [];\nif (String(c.pain_reported || '').toLowerCase().includes('knee')) {\n  updates.push('Reduce impact activities');\n  updates.push('Replace running with walking/cycling');\n  updates.push('Add 10-minute mobility routine');\n}\nif (Number(c.energy) <= 2) updates.push('Lower training intensity by 20% for next session');\nif (Number(c.sleep_quality) <= 2) updates.push('Focus on sleep hygiene and earlier workout timing');\nif (String(c.meal_adherence || '').toLowerCase() === 'low') updates.push('Simplify meals and add prep-friendly options');\nreturn [{ json: { ...$json, adaptive_updates: updates, next_day_plan_adjusted: updates.length > 0 } }];"
        },
        "id": "2caac7a2-e6e2-419f-9aaf-d984fec67734",
        "name": "Adapt Next-Day Plan",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          720,
          -80
        ]
      },
      {
        "parameters": {
          "mode": "runOnceForAllItems",
          "jsCode": "const c = $json.checkpoint || {};\nlet score = 0;\nif (c.activity_done === true || String(c.activity_done).toLowerCase() === 'yes') score += 1;\nif (Number(c.steps) >= 5000) score += 1;\nif (String(c.meal_adherence || '').toLowerCase() === 'high') score += 1;\nreturn [{ json: { ...$json, adherence_score: score } }];"
        },
        "id": "7ad1233f-8edf-441f-8f30-272a73426de6",
        "name": "Progress Analyzer",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          960,
          -80
        ]
      },
      {
        "parameters": {
          "mode": "runOnceForAllItems",
          "jsCode": "const text = JSON.stringify($json.checkpoint || {}).toLowerCase();\nconst redFlags = ['chest pain','fainting','severe shortness of breath','very high blood sugar','very high blood pressure','sudden weakness','severe allergic reaction'];\nconst hits = redFlags.filter(r => text.includes(r));\nif (hits.length) {\n  return [{ json: { ...$json, safe_to_continue: false, red_flags: hits, escalation: 'Possible urgent symptoms detected. Seek immediate medical care or call emergency services.' } }];\n}\nreturn [{ json: { ...$json, safe_to_continue: true, red_flags: [] } }];"
        },
        "id": "89f8b5de-6042-48ae-9feb-583f7ae9995c",
        "name": "Safety On Checkpoint Text",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1200,
          -80
        ]
      },
      {
        "parameters": {
          "mode": "runOnceForAllItems",
          "jsCode": "const j = $json;\nreturn [{ json: {\n  ok: j.safe_to_continue !== false,\n  http_status: 200,\n  stage: j.safe_to_continue === false ? 'safety_escalation' : 'checkpoint_processed',\n  adherence_score: j.adherence_score,\n  adaptive_updates: j.adaptive_updates,\n  next_day_plan_adjusted: j.next_day_plan_adjusted,\n  escalation: j.escalation || null,\n  red_flags: j.red_flags || [],\n  disclaimer: 'Preventive wellness guidance only.'\n} }];"
        },
        "id": "72976917-a7f4-4934-864c-1cfa48faa3b8",
        "name": "Build Checkpoint Response",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1440,
          -80
        ]
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ $json }}",
          "options": {
            "responseCode": 200
          }
        },
        "id": "9b4cef5d-20cc-4868-b99c-f50286f07b05",
        "name": "Respond Checkpoint",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.4,
        "position": [
          1920,
          0
        ]
      }
    ],
    "connections": {
      "Webhook Checkpoint": {
        "main": [
          [
            {
              "node": "Parse Checkpoint",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse Checkpoint": {
        "main": [
          [
            {
              "node": "IF Checkpoint Complete",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IF Checkpoint Complete": {
        "main": [
          [
            {
              "node": "Adapt Next-Day Plan",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Build Missing Checkpoint Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build Missing Checkpoint Response": {
        "main": [
          [
            {
              "node": "Respond Checkpoint",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Adapt Next-Day Plan": {
        "main": [
          [
            {
              "node": "Progress Analyzer",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Progress Analyzer": {
        "main": [
          [
            {
              "node": "Safety On Checkpoint Text",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Safety On Checkpoint Text": {
        "main": [
          [
            {
              "node": "Build Checkpoint Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build Checkpoint Response": {
        "main": [
          [
            {
              "node": "Respond Checkpoint",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "pinData": {},
    "settings": {
      "executionOrder": "v1"
    },
    "staticData": null,
    "meta": {
      "templateCredsSetupCompleted": false
    },
    "tags": []
  }
]
